.WeatherForecast {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;

  padding: 0 5px 5px 0;
}

.daily-forecast-header {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  opacity: 0.8;
  padding: 2px;
  border-radius: 4px;
  margin-right: 15px;
  margin-top: 15px;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.forecast-day {
  font-weight: bolder;
  background: #efeee9;
  opacity: 0.7;
  border-radius: 4px;
}
.forecast-temp {
  margin-bottom: 15px;
}

.forecast-temp-min {
  opacity: 0.6;
  margin-left: 5px;
}
.forecast-img {
  width: 56px;
}
